.row{
  max-width:250px;
}
.row .col:last-child{
  text-align: center;
    float:right;
    top: 12px;
}
.col .row{
  max-height: 18px;
  overflow: auto;
  margin-bottom: 5px;
}
.sidebar-items>.row {
  border-bottom: 1px solid lightgray;
  height: 53px;
}
.sidebar-items>.row:before {
  content: "";
  background: lightgray;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  float: left;
  margin-top: 18px;
  margin-right: 25px;
}
.sidebar{
  font-size:10px;
  transition: width 1s;
  -webkit-transition: width 1s;
  overflow: hidden;

}
.sidebar-items{
  height: 80vh;
  overflow: auto;
  overflow-x: hidden ;
  width: 250px;
  padding-left: 20px;
}

.sidebar-title{
  background: #f3f3f3;
  font-size: 26px;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  width: 250px;
  color: lightblue;
  border-top: 1px solid lightgray;
  font-style: italic;
}

.material-icons {
  font-size: 10px;
  margin-top:3px;
}

.sidebar .toggler{
  left: 200px;
  min-width: 20px;
}
.sidebar .refresh{
  left: 170px;
  min-width: 20px;
}
.toggler, .refresh{
  position: absolute;
  border: none;
  background: none;
}

.outer-toggler{
  left: 0px;
  border: none;
}

.sidebar.hidden{
  width: 0px;
}
.outer-toggler button{
  background: lightgray;
}
